/* headings
.h1-title
  font-size: 50px
  font-weight: 900
  line-height: 1.1

.h2-title
  font-size: 30px
  font-weight: 700
  line-height: 1.33

.h3-title
  font-size: 25px
  font-weight: 700
  line-height: 1.2

.h4-title
  font-size: 20px
  font-weight: 700
  line-height: 1.25

+r($xl)
  .h1-title
    font-size: 46px
  .h2-title
    font-size: 28px

+r($lg)
  .h1-title
    font-size: 40px
  .h2-title
    font-size: 24px

+r($md)
  .h1-title
    font-size: 32px
  .h2-title
    font-size: 22px

+r($sm)
  .h1-title
    font-size: 24px
  .h2-title
    font-size: 20px

/* texts
.p-large
  font-size: 25px
  line-height: 1.4

.p-big
  font-size: 20px
  line-height: 1.5

.p-main
  font-size: 18px
  line-height: 1.67

.p-small
  font-size: 15px
  line-height: 1.67

.p-mini
  font-size: 13px
  line-height: 1.53


+r($xl)
  .p-large
    font-size: 23px
  .p-big
    font-size: 18px
  .p-main
    font-size: 17px

+r($lg)
  .p-large
    font-size: 20px
  .p-big
    font-size: 17px
  .p-main
    font-size: 16px

+r($md)
  .p-large
    font-size: 14px
  .p-big
    font-size: 16px
  .p-main
    font-size: 15px
  .p-small
    font-size: 14px

+r($sm)
  .p-big
    font-size: 15px
  .p-main
    font-size: 14px

p
  margin-top: 0
  & + p
    margin-top: 1em

.p-link
  display: inline-block
  color: $colorRed
  font-size: 15px
  transition: color .25s $ease
  &:hover
    color: $colorPrimary

.f-500
  font-weight: 500

.f-300
  font-weight: 300

.f-100
  font-weight: 100

.f-700
  font-weight: 700

.f-900
  font-weight: 900


.c-red
  color: $colorRed


.blockquote
  position: relative
  margin-left: 0
  margin-right: 0
  padding-left: 46px
  @extend .p-main
  &::before
    content: ''
    position: absolute
    top: 7px
    left: 0
    width: 30px
    height: 22px
    background: url(../icons/svg-mono/quote.svg) no-repeat

.ol-list
  list-style-position: inside
  padding-left: 15px
  @extend .p-main
  li
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0

.text-columns
  margin: 25px 0 
  column-count: 2
  column-gap: 40px
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

+r($md)
  .text-columns
    margin-top: 1em
    margin-bottom: 1em
    column-count: 1