/* headings
.h1-title
  font-size: 50px
  font-weight: 900
  line-height: 1.1

.h2-title
  font-size: 30px
  font-weight: 700
  line-height: 1.33

.h3-title
  font-size: 25px
  font-weight: 700
  line-height: 1.2

.h4-title
  font-size: 20px
  font-weight: 700
  line-height: 1.25

+r($xl)
  .h1-title
    font-size: 46px
  .h2-title
    font-size: 28px

+r($lg)
  .h1-title
    font-size: 40px
  .h2-title
    font-size: 24px
  .h3-title
    font-size: 22px

+r($md)
  .h1-title
    font-size: 32px
  .h2-title
    font-size: 22px
  .h3-title
    font-size: 20px
  .h4-title
    font-size: 18px

+r($sm)
  .h1-title
    font-size: 24px
  .h2-title
    font-size: 20px
  .h3-title
    font-size: 18px
  .h4-title
    font-size: 16px

/* texts
.p-large
  font-size: 25px
  line-height: 1.4

.p-big
  font-size: 20px
  line-height: 1.5

.p-main
  font-size: 18px
  line-height: 1.67

.p-small
  font-size: 15px
  line-height: 1.67

.p-mini
  font-size: 13px
  line-height: 1.53


+r($xl)
  .p-large
    font-size: 23px
  .p-big
    font-size: 18px
  .p-main
    font-size: 17px

+r($lg)
  .p-large
    font-size: 20px
  .p-big
    font-size: 17px
  .p-main
    font-size: 16px

+r($md)
  .p-large
    font-size: 14px
  .p-big
    font-size: 16px
  .p-main
    font-size: 15px
  .p-small
    font-size: 14px

+r($sm)
  .p-big
    font-size: 15px
  .p-main
    font-size: 14px

p
  margin-top: 0
  & + p
    margin-top: 1em

.p-link
  display: inline-block
  color: $colorRed
  font-size: 15px
  transition: color .25s $ease
  &:hover
    color: $colorPrimary


.f-500
  font-weight: 500

.f-300
  font-weight: 300

.f-100
  font-weight: 100

.f-700
  font-weight: 700

.f-900
  font-weight: 900

// strong
//   font-weight: 700

.c-red
  color: $colorRed
.c-gray
  color: $fontColor50


/* hr
hr
  margin: 30px 0
  border-top: 1px solid #D8D8D8
  border-bottom: 0

+r($sm)
  hr
    margin: 25px 0


/* blockquote
.blockquote
  position: relative
  margin-left: 0
  margin-right: 0
  padding-left: 46px
  min-height: 40px
  @extend .p-main
  &::before
    content: ''
    position: absolute
    top: 3px
    left: 0
    width: 30px
    height: 22px
    background: svg-load("../icons/svg-inline/quote.svg") no-repeat

+r($sm)
  .blockquote
    padding-left: 30px
    &::before
      width: 22px
      height: 18px
      background-size: 100% auto


/* lists
.main-list
  padding-left: 20px
  @extend .p-main
  li
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
  .main-list
    margin-top: 15px
  &--clean
    padding-left: 0
    li
      margin-bottom: 0
      list-style: none

ul.main-list
  list-style-type: disc
  li
    display: list-item

+r($sm)
  .main-list
    padding-left: 0
    list-style-position: inside

+r($md)
  .text-columns
    margin-top: 1em
    margin-bottom: 1em
    column-count: 1

/* default styles for WYSIWYG
.WYSIWYG-content
  p:not(.p-main)
    @extend .p-main
  h1:not(.h1-title)
    @extend .h1-title
  h2:not(.h2-title)
    @extend .h2-title
  h3:not(.h3-title)
    @extend .h3-title
  h4:not(.h4-title)
    @extend .h4-title
  h5:not(.h5-title)
    font-size: 16px
  h6:not(.h6-title)
    font-size: 14px
  blockquote:not(.blockquote)
    @extend .blockquote
  img, video, iframe
    max-width: 100%
  ol:not(.main-list)
    @extend .main-list
  ul:not(.main-list)
    @extend .main-list
    @extend ul.main-list
