/* headings
.h1-title
  font-size: 50px
  font-weight: 900
  line-height: 1.1

.h2-title
  font-size: 30px
  font-weight: 700
  line-height: 1.33

.h3-title
  font-size: 25px
  font-weight: 700
  line-height: 1.2

.h4-title
  font-size: 20px
  font-weight: 700
  line-height: 1.25

+r($xl)
  .h1-title
    font-size: 46px

+r($lg)
  .h1-title
    font-size: 40px

+r($md)
  .h1-title
    font-size: 32px

+r($sm)
  .h1-title
    font-size: 24px

/* texts
.p-big
  font-size: 20px
  line-height: 1.5

.p-main
  font-size: 18px
  line-height: 1.67

.p-small
  font-size: 15px
  line-height: 1.67

.p-mini
  font-size: 13px
  line-height: 1.53


+r($xl)
  .p-main
    font-size: 17px

+r($lg)
  .p-main
    font-size: 16px

+r($md)
  .p-main
    font-size: 15px

+r($sm)
  .p-main
    font-size: 14px

p
  margin-top: 0
  & + p
    margin-top: 1em

.p-link
  display: inline-block
  color: $colorRed
  font-size: 15px
  transition: color .25s $ease
  &:hover
    color: $colorPrimary

.f-500
  font-weight: 500

.f-300
  font-weight: 300

.f-100
  font-weight: 100

.f-700
  font-weight: 700

.f-900
  font-weight: 900


.c-red
  color: $colorRed
