---
title: Число 25
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title 25 лет .RU

    .hero-title__cover
      img(src='img/backgrounds/heroTitle_2_blue.jpg' srcset='img/backgrounds/heroTitle_2_blue@2x.jpg 2x')
  
