---
title: Я - часть рунета
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title.rtxt(js-reveal data-type="onload")
          span.rtxt__wrap
            span.rtxt__mover О проекте

    .hero-title__cover(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1549087228/runet25/heroTitle_5_multi.jpg)")
      img(js-lazy data-src='img/backgrounds/heroTitle_5_multi.jpg' data-srcset='img/backgrounds/heroTitle_5_multi@2x.jpg 2x')
  
