---
title: Календарь
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title Календарь <br/>25-летия
        p.p-big Перечень событий, посвященных юбилею Рунета
        
    .hero-title__cover
      img(src='img/backgrounds/heroTitle_3_red.jpg' srcset='img/backgrounds/heroTitle_3_red@2x.jpg 2x')
  
