---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  // HERO
  .hero
    .container
      .hero__wrapper
        .hero__content
          h1.hero__title.h1-title(data-aos="fade-up") Рунету исполняется 25 лет
          .hero__description(data-aos="fade-up")
            p.p-main Датой рождения Российского Интернета считается 7 апреля 1994 года — в этот день международный сетевой информационный центр InterNIC официально делегировал национальный домен .RU для Российской Федерации.
          .hero__cta(data-aos="fade-up")
            a(href="#").btn.btn-primary
              span Подробнее о юбилее
        .hero__image(data-aos="fade")
          img(js-lazy data-src="img/HeroIllustration.png" data-srcset='img/HeroIllustration@2x.png 2x')
        
        // actions
        .hero__actions
          .hero__socials
            .socials.socials--black
              a(href='#' target="_blank" title="Facebook").social-btn.social-btn--facebook
                +svgMono("social-facebook")
              a(href='#' target="_blank" title="VK").social-btn.social-btn--vk
                +svgMono("social-vk")
              a(href='#' target="_blank" title="Twitter").social-btn.social-btn--twitter
                +svgMono("social-twitter")
          .hero__scrolldown(js-scroll-to data-scroll-target=".cards-grid") Листайте вниз
          
        
  // HOME GRID
  .cards-grid
    // card
    .card.card--2-3
      .card__grid
        .card__col
          h2.h2-title В 2019 году домену .RU исполнится 25 лет.
          a.p-link(href="#") Читать подробнее
        .card__col
          p.p-main 7 апреля 1994 года Российская Федерация получила национальный домен .RU, зарегистрированный международным сетевым центром InterNIC.
          p.p-main Отрасль достигла зрелости. Интернет перестал быть замкнутой индустрией, став средой и неотъемлемой частью повседневной жизни. 
    
    // card
    .card.card--1-3.card--red
      h2.h2-title О проекте
      .card__links
        a(href="#") О 25 летии
        a(href="#") История проекта
        a(href="#") Этапы проведения
        a(href="#") Новости 25 летия / Пресс центр
        a(href="#") Оргкомитет
        a(href="#") Исполком / Контакты
      a(href="#").card__cta
        span Читать подробнее
        i.icon.icon-arrow-white
        
    // card
    .card.card--1-3.card--blue
      h2.h2-title Число 25
      p.p-small Перечень мероприятий, персон, проектов и другого, связанного с числом 25
      a(href="#").card__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // card
    .card.card--1-3.card--orange
      h2.h2-title Этапы большого пути
      p.p-small Состояние развития и влияния
      a(href="#").card__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // card
    .card.card--1-3.card--purple
      h2.h2-title Я — часть Рунета
      p.p-small Про Рунет: конкурс журналистов, образовательная программа, конкурс статей в Википедии про Рунет (люди, компании, технологии, сайты)
      a(href="#").card__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // card
    .card.card--1-3.card--pink
      h2.h2-title 25 лет .RU
      p.p-small Краткая история появления и развития отечественного домена .RU
      a(href="#").card__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // card
    .card.card--2-3.card--yellow
      .card__img-cover
        img(js-lazy data-src="img/fruits.png" data-srcset='img/fruits@2x.png 2x')
  
    // card
    .card.card--2-3
      h2.h2-title Подписаться на дайджест юбилея
      p.p-main Будьте в курсе всех событий юбилея! Обещаем, <br/>что будем писать только по важным поводам :)
      
    // card
    .card.card--1-3.card--green
      h2.h2-title Календарь 25-летия
      p.p-small Полный список мероприятий 2019 года, приуроченных к юбилею
      a(href="#").card__cta
        span Читать подробнее
        i.icon.icon-arrow-white
