---
title: Главная
---
extends shared/_layout
block content
  
  // HERO
  .hero
    .container
      .hero__wrapper
        .hero__content
          h1.hero__title.h1-title(data-aos="fade-up") Рунету исполняется 25 лет
          .hero__description(data-aos="fade-up")
            p.p-main Датой рождения Российского Интернета считается 7 апреля 1994 года — в этот день международный сетевой информационный центр InterNIC официально делегировал национальный домен .RU для Российской Федерации.
          .hero__cta(data-aos="fade-up")
            a(href="#").btn.btn-primary
              span Подробнее о юбилее
        .hero__image
          img(js-lazy data-src="img/HeroIllustration.png" data-srcset='img/HeroIllustration@2x.png 2x')
        
        // actions
        .hero__actions
          .hero__socials
            .socials.socials--black
              a(href='#' target="_blank" title="Facebook").social-btn.social-btn--facebook
                +svgMono("social-facebook")
              a(href='#' target="_blank" title="VK").social-btn.social-btn--vk
                +svgMono("social-vk")
              a(href='#' target="_blank" title="Twitter").social-btn.social-btn--twitter
                +svgMono("social-twitter")
          .hero__scrolldown(js-scroll-to data-scroll-target=".tile-grid") Листайте вниз
          
        
  // HOME GRID
  .tile-grid
    // tile
    .tile.tile--2-3
      .tile__grid
        .tile__col
          h2.h2-title В 2019 году домену .RU исполнится 25 лет.
          a.p-link(href="#") Читать подробнее
        .tile__col
          p.p-main 7 апреля 1994 года Российская Федерация получила национальный домен .RU, зарегистрированный международным сетевым центром InterNIC.
          p.p-main Отрасль достигла зрелости. Интернет перестал быть замкнутой индустрией, став средой и неотъемлемой частью повседневной жизни. 
    
    // tile
    .tile.tile--1-3.tile--red(js-header-color data-menu-color="white")
      h2.h2-title О проекте
      .tile__links
        a(href="#") О 25 летии
        a(href="#") История проекта
        a(href="#") Этапы проведения
        a(href="#") Новости 25 летия / Пресс центр
        a(href="#") Оргкомитет
        a(href="#") Исполком / Контакты
      a(href="#").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
        
    // tile
    .tile.tile--1-3.tile--blue(js-header-color data-menu-color="white" data-logo-color="white")
      h2.h2-title Число 25
      p.p-small Перечень мероприятий, персон, проектов и другого, связанного с числом 25
      a(href="#").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--1-3.tile--orange
      h2.h2-title Этапы большого пути
      p.p-small Состояние развития и влияния
      a(href="#").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--1-3.tile--purple
      h2.h2-title Я — часть Рунета
      p.p-small Про Рунет: конкурс журналистов, образовательная программа, конкурс статей в Википедии про Рунет (люди, компании, технологии, сайты)
      a(href="#").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--1-3.tile--pink
      h2.h2-title 25 лет .RU
      p.p-small Краткая история появления и развития отечественного домена .RU
      a(href="#").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--2-3.tile--yellow
      .tile__img-cover
        img(js-lazy data-src="img/fruits.png" data-srcset='img/fruits@2x.png 2x')
  
    // tile
    .tile.tile--2-3(js-header-color data-menu-color="white")
      h2.h2-title Подписаться на дайджест юбилея
      p.p-main Будьте в курсе всех событий юбилея! Обещаем, <br/>что будем писать только по важным поводам :)
      form(action="/email-form.php" js-validate-subscription).subsc-form
        .ui-group
          label(for="email") Эл. почта
          input.ui-input(type="email" name="email" placeholder="ivan.petrov@address.ru")
        .ui-group
          button(type="submit").btn.btn-primary
            span Подписаться
      
      // modal
      .mfp-dialog.mfp-thanks.mfp-hide#subsc-thanks
        .h2-title Спасибо за подписку!
        p.p-small(js-subsc-thanks-message) Вы подписались на дайджест юбилея, используя почту <strong>svyatoslav.konstantinov@rambler.ru</strong>
        a(href="#" js-close-mfp).btn.btn-primary
          span Вернуться на сайт
        
    // tile
    .tile.tile--1-3.tile--green
      h2.h2-title Календарь 25-летия
      p.p-small Полный список мероприятий 2019 года, приуроченных к юбилею
      a(href="#").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
