---
title: Я - часть рунета
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title Я – часть Рунета
        
    .hero-title__cover
      img(src='img/backgrounds/heroTitle_4_blue.jpg' srcset='img/backgrounds/heroTitle_4_blue@2x.jpg 2x')
  
