---
title: Новость
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title.rtxt(js-reveal js-wrap-words data-type="onload") Facebook – официальный партнер RIW 2018
            
    .hero-title__cover(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1549746979/runet25/heroTitle_7_multi.jpg)")
      img(js-lazy data-src='img/backgrounds/heroTitle_7_multi.jpg' data-srcset='img/backgrounds/heroTitle_7_multi@2x.jpg 2x')

  // tile
  article.tile.tile--gray(js-header-color data-menu-color="white" data-logo-color="white")
    // group-content
    .grid.group-content.tile__group-content
      .col.col--4.group-content__aside
        h2.h2-title Секция и дискуссионная панель
        
      .col.col--8.group-content__section
        .text
          p.p-main В рамках секции, представители Facebook обсудят с российскими средними и малыми компаниями возможности развития российского бизнеса в условиях цифровизации экономики, поделятся лучшими практиками и историями успеха, а также проблемами, с которыми сталкиваются отечественные компании при построении своего бизнеса онлайн.
          blockquote.blockquote Мы поговорим об экспортном потенциале российских компаний, а также возможных стратегиях и механизмах интеграции российских малых бизнесов в глобальный рынок. Данная дискуссия также позволит участникам встречи обсудить вопросы развития российского среднего и малого бизнеса и их роль в построении цифровой экономики России», – Ульяна Зинина, Head of Public Policy, Facebook.
          p.p-main В дискуссии примут участие Robert Bednarski, Country Director Facebook Central and Eastern Europe, Mariana Piccinini, SMB Sales Manager Central and East Europe.
    
    // group-content
    .grid.group-content.tile__group-content
      .col.col--4.group-content__aside
        h2.h2-title Тренинги и мастер-классы

      .col.col--8.group-content__section
        .text
          p.p-main.img-block
            .scaler.img-block(data-ar="16:9" style="padding-bottom: "+ (369/776) * 100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:600/v1549746979/runet25/newsCard_7.jpg)")
              img(js-lazy data-src='img/newsCard_7.jpg' data-srcset='img/newsCard_7@2x.jpg 2x')
          p.p-main Впервые в России Facebook проведет тренинг для всех, кто хочет правильно и эффективно развивать свой бизнес через социальные сети, узнать о глобальных трендах:
          ol.main-list
            li Темы, которые будут подняты в ходе тренингов:
            li Тренды потребительского рынка и особенности видео рекламы
            li Как построить бизнес в условиях мобильной экономики и мобильного мира
            li Советы и рекомендации от владельцев конкретных успешных российских малых и средних бизнесов по цифровизации
            li Как повысить свои продажи с помощью социальных сетей
            li В условиях глобального мира и глобальной экономики — как построить глобальный бизнес, как развить свой экспортный потенциал
          a.btn.btn--link(href='#' title='Подробнее о тренингах') Подробнее о тренингах
