---
title: Спонсоры
---
extends shared/_layout
block content
  
  // header always visible modifier
  div(js-header-sticky)
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title.rtxt(js-reveal js-wrap-words data-type="onload") Спонсорам
        
    .hero-title__cover(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1549746979/runet25/heroTitle_9_multi.jpg)")
      img(js-lazy data-src='img/backgrounds/heroTitle_9_multi.jpg' data-srcset='img/backgrounds/heroTitle_9_multi@2x.jpg 2x')
  
  //tile
  .tile.tile--purple.tile--pb-lg(js-reveal data-direction="ltr" js-header-color data-menu-color="white" data-logo-color="white")

    // group-content
    .grid.group-content.tile__group-content
      .col.col--4.group-content__aside
        h2.h2-title.rtxt(js-reveal js-wrap-words) Преимущества
        
      .col.col--8.group-content__section(data-aos="fade")
        p.p-main
          strong Партнерство:
          br
          | Предоставление оборудования, расходных материалов, программного обеспечения для организации соревновательной части чемпионатов «Молодые профессионалы (WorldSkills Russia)»

        p.p-main
          strong Спонсорство:
          br
          | Предоставление денежных средств для организации и проведения чемпионатов «Молодые профессионалы (WorldSkills Russia)», профильных проектов движения WorldSkills Russia, участия национальной сборной WorldSkills Russia в чемпионатах Европы и мира, развития движения WorldSkils Russia

        p.p-main
          strong Преимущества:
          br
          | Продвижение бренда компании на национальном уровне в рамках национальных чемпионатов среди посетителей мероприятия и участников деловой программы
          br
          | Разработка индивидуальных маркетинговых программ (в зависимости от выбранного спонсорского пакета)
    
    // group-content
    .grid.group-content.tile__group-content
      .col.col--4.group-content__aside
        h2.h2-title.rtxt(js-reveal js-wrap-words) Программы

      .col.col--8.group-content__section(data-aos="fade")
        p.p-main
          strong Проведение корпоративных чемпионатов
          br
          | Чемпионаты профессионального мастерства среди молодых рабочих компании/предприятия/корпорации и учащихся учебных учреждений в рамках действующих производств в возрасте от 17 до 28 лет

        p.p-main
          strong 2016 год:
          br
          | 17 корпоративных чемпионатов <br/>
          | Более 800 участников и 700 экспертов <br/>
          | Более 250 промышленных предприятий, вовлеченных в движение WorldSkills
        
        p.p-main
          strong Преимущества:
          br
          | Нематериальная мотивация сотрудников<br/>
          | Повышение престижа рабочих специальностей внутри компании<br/>
          | Выявление и оценка лучших специалистов компании<br/>
          | Повышение квалификации специалистов компании на основе лучших мировых практик<br/>
          | Популяризация и повышение привлекательности бренда компании для профессионалов в своей отрасли<br/>
          | Вхождение в экспертное сообщество
