---
title: Коммитет
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title Спонсорам
        
    .hero-title__cover
      img(src='img/backgrounds/heroTitle_9_multi.jpg' srcset='img/backgrounds/heroTitle_9_multi@2x.jpg 2x')
  
