---
title: Этапы
---
extends shared/_layout
block content
  
  // HERO TITLE
  .hero-title(js-header-color data-menu-color="white" data-logo-color="white")
    .container
      .hero-title__content
        h1.h1-title.rtxt(js-reveal js-wrap-words data-type="onload") Этапы большого пути
            
    .hero-title__cover(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1549746979/runet25/heroTitle_10_blue.jpg)")
      img(js-lazy data-src='img/backgrounds/heroTitle_10_blue.jpg' data-srcset='img/backgrounds/heroTitle_10_blue@2x.jpg 2x')
  
  // grid
  .grid.grid-main
    .col.col--4
      // tile
      .tile.tile--full.tile--fixed(js-tile-fixed)
        .tile__img-cover(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1549746979/runet25/candyFire_5.jpg)")
          img(js-lazy data-src='img/candyFire_5.jpg' data-srcset='img/candyFire_5@2x.jpg 2x')
    
    .col.col--8
      // tile
      .tile.tile--gray
        .title__text
          h2.h2-title Текущее состояние развития и влияния (этапы большого пути)
          p.p-main IT -отрасль достигла зрелости. Интернет перестал быть индустрией, став средой и неотъемлемой частью повседневной жизни. Сформированные опытом нормы поведения и законы ориентированы на офлайн. Новая реальность требует собственных правил и подходов.
          p.p-main Государство становится неотъемлемым участником цифровой среды, с одной стороны, являясь гарантом прав и свобод граждан, с другой – обеспечивая развитие отрасли, создавая условия для бизнеса, формируя приток кадров.
          p.p-main 25-летие это не просто красивая дата или большой информационный повод - это возможность продемонстрировать реальные достижения и сформировать видение будущего с участием как профессионалов отрасли, так и рядовых активных пользователей.
