---
title: 25% ВВП
---
extends shared/_layout
block content

  // grid
  .grid.grid-main.not-hero(js-header-color data-menu-color="white" data-logo-color="white")
    .col.col--12
      // tile
      .tile.tile--full.tile--timeline.tile--dark
        .timeline.tile__timeline
          h1.h2-title.timeline__title Таймлайн ключевых этапов проведения юбилея
          .timeline__container.swiper-container(js-timeline-slider)
            ul.timeline__list.swiper-wrapper
              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 1 ноября
                p.timeline__caption Старт народного голосования

              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 13 ноября
                p.timeline__caption Окончание приема новых заявок

              li.timeline__item.swiper-slide.is-current
                p.h3-title.timeline__date 14–16 ноября
                p.timeline__caption Голосование Экспертного Клуба
                span.timeline__text Мы сейчас здесь

              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 18 ноября
                p.timeline__caption Формирование шорт-листа

              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 1 ноября
                p.timeline__caption Старт народного голосования

              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 13 ноября
                p.timeline__caption Окончание приема новых заявок

              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 14–16 ноября
                p.timeline__caption Голосование Экспертного Клуба
                
              li.timeline__item.swiper-slide
                p.h3-title.timeline__date 18 ноября
                p.timeline__caption Формирование шорт-листа
