---
title: User Interface
---
extends shared/_layout
block content
  
  div(style="margin: 150px 0 50px")
    .container
      h1.h1-title.c-red Типографика
      h1.h1-title Заголовок первого уровня
      h2.h2-title Заголовок второго уровня
      h3.h3-title Заголовок третьего уровня
      h4.h4-title Заголовок четвертого уровня
      
      p.p-large В век, когда границы стираются, труд как экономическая категория, приобретает новый смысл. Все больше людей стремятся иметь больше свободы и независимости, оставаясь при этом эффективными и востребованными профессионалами. «Как будет выглядеть работа в ближайшем будущем?» — на этот вопрос постараются ответить HR-специалисты, фрилансеры и предприниматели.
      p.p-big В век, когда границы стираются, труд как экономическая категория, приобретает новый смысл. Все больше людей стремятся иметь больше свободы и независимости, оставаясь при этом эффективными и востребованными профессионалами. «Как будет выглядеть работа в ближайшем будущем?» — на этот вопрос постараются ответить HR-специалисты, фрилансеры и предприниматели.
      p.p-main В век, когда границы стираются, труд как экономическая категория, приобретает новый смысл. Все больше людей стремятся иметь больше свободы и независимости, оставаясь при этом эффективными и востребованными профессионалами. «Как будет выглядеть работа в ближайшем будущем?» — на этот вопрос постараются ответить HR-специалисты, фрилансеры и предприниматели.
      p.p-small В век, когда границы стираются, труд как экономическая категория, приобретает новый смысл. Все больше людей стремятся иметь больше свободы и независимости, оставаясь при этом эффективными и востребованными профессионалами. «Как будет выглядеть работа в ближайшем будущем?» — на этот вопрос постараются ответить HR-специалисты, фрилансеры и предприниматели.
      p.p-mini В век, когда границы стираются, труд как экономическая категория, приобретает новый смысл. Все больше людей стремятся иметь больше свободы и независимости, оставаясь при этом эффективными и востребованными профессионалами. «Как будет выглядеть работа в ближайшем будущем?» — на этот вопрос постараются ответить HR-специалисты, фрилансеры и предприниматели.
      
      ol.main-list
        li Темы, которые будут подняты в ходе тренингов:
        li Тренды потребительского рынка и особенности видео рекламы
        li Как построить бизнес в условиях мобильной экономики и мобильного мира

      blockquote.blockquote Что убрать margin от элементов типографики, нужно изменить элменты h1-h6, p и подобные на блочные
  
  div(style="margin: 50px 0 50px")
    .container
      h1.h1-title.c-red Интерфейс
      
