/* subscription form
.subsc-form
  display: flex
  margin-top: 15px
  width: 100%
  max-width: 540px
  align-items: flex-end
  transition: opacity .25s $ease
  &.is-loading
    cursor: progress
    opacity: .6
  .ui-group
    &:first-child
      flex: 1 1 auto
    &:last-child
      flex: 0 0 auto
  button
    margin-left: 16px
    width: 100%

+r(480)
  .subsc-form
    flex-wrap: wrap
    .ui-group
      &:first-child
        flex: 1 1 100%
      &:last-child
        flex: 1 1 100%
    button
      margin-left: 0
