/* HEADER
.header
  position: fixed
  right: 0
  left: 0
  z-index: 9
  background: transparent
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  pointer-events: none
  &__wrapper
    display: flex
    align-items: center
    // transform: translate3d(0,40px,0)
    padding-top: 30px
  &__logo, &__menu
    pointer-events: all
  &__logo
    flex: 0 0 auto
    font-size: 0
    padding-right: 30px
    padding: 10px
    margin-left: -10px
    transition: color .25s $ease, opacity .25s $ease
    svg
      width: 60px
      height: 79px
      transition: .25s $ease
      // TODO - https://stackoverflow.com/questions/20012240/using-css-to-transition-the-fill-property-of-an-svg-path-on-hover
      // move fill values with unique selectors and color them here
      // path, polyline, polygon
      //   transition: .25s $ease
    .ico
      // font-size: 39px
      font-size: 80px
    &:hover
      color: $colorRed

  &__menu
    margin-left: auto
    display: flex
    align-items: center
    padding: 10px
    margin-right: -10px
    cursor: pointer
    &:hover
      .header
        &__menu-name
          color: $colorRed
        &__menu-hamburger
          &::before, &::after
            background-color: $colorRed

  &__menu-name
    display: inline-block
    margin-right: 12px
    font-size: 15px
    transition: color .25s $ease
  &__menu-hamburger
    font-size: 0
    position: relative
    min-size: 25px 10px
    transition: transform .25s ease
    will-change: transform
    backface-visibility: hidden
    &::before, &::after
      display: inline-block
      content: '  '
      position: absolute
      left: 0
      height: 2px
      background: $fontColor
      transform-style: preserve-3d
      transition: background-color .25s $ease, transform .2s easeOutQuad, width .15s easeInCubic
    &::before
      top: 0
      width: 25px
    &::after
      bottom: 0
      width: 15px

  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    // visibility: hidden
    transform: translate3d(0,-100%,0) !important
    transition: transform .25s $ease
    .header__wrapper
      padding-top: 10px

  &.is-fixed-visible
    // visibility: visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s $ease
    transform: translate3d(0,-100%,0) !important

  &.is-sticky
    position: fixed
    transform: translate3d(0,0,0) !important

  &.is-menu-active
    .header
      &__logo
        opacity: 0
      &__menu-name
        color: white
      &__menu-hamburger
        transform: rotate(180deg)
        &::before, &::after
          background-color: white
        &::before
          top: 4px
          transform: rotate(45deg)
        &::after
          width: 25px
          bottom: 4px
          transform: rotate(-45deg)

  &.is-menu-white
    .header
      &__menu
      &__menu-name
        color: white
      &__menu-hamburger
        &::before, &::after
          background-color: white
      &:hover
        color: rgba(white, .7)

  &.is-logo-white
    .header__logo
      color: white
      svg
        path, polyline, polygon
          fill: white

+r($md)
  .header
    &__wrapper
      padding-top: 10px
    &__logo
      svg
        max-width: 48px
        height: 63px
      .ico
        font-size: 33px
    &__menu-name
      font-size: 12px
      font-weight: 700
      margin-right: 8px

    &.is-menu-active
      .header
        &__logo
          opacity: 1
          svg
            path, polyline, polygon
              fill: white
