.main-menu
  position: fixed 0
  z-index: 8
  display: flex
  flex-direction: column
  pointer-events: none
  &__wrapper
    position: relative
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 100px 30px 0px
    background: $colorPrimary
    overflow-y: scroll
    color: white
    transform: translate3d(100%,0%,0)
    transition: transform .3s $ease
    &::before
      display: block
      content: ' '
      position: absolute 0
      z-index: 1
      background: $colorRed
      transform: translate3d(0%,0%,0)
      transition: transform .2s $ease
  &__content
    position: relative
    z-index: 2
    flex: 1 1 auto
    display: flex
    flex-direction: column
    opacity: 0
    transition: opacity .25s .25s $ease
  &__menu
    flex: 0 0 auto
    min-width: 1px
    min-height: 0px
    margin-top: auto
    padding: 20px 0
    list-style: none
    text-align: center
    li
      display: block
      font-size: 30px
      font-weight: 700
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
      ul
        display: flex
        flex-wrap: wrap
        justify-content: center
        max-width: 400px
        margin: 15px auto
        padding: 0
        li
          display: inline-block
          margin-bottom: 5px
          font-size: 15px
          font-weight: 500
          a
            padding: 10px
            color: rgba(white, .7)
            &:hover
              color: white
    a
      display: inline-block
      transition: .25s $ease
      &:hover
        color: rgba(white, .7)
  &__socials
    flex: 0 0 auto
    min-width: 1px
    min-height: 0px
    text-align: center
    margin-top: auto
    margin-left: auto
    margin-right: auto
    padding-bottom: 65px

  &.is-active
    pointer-events: all
    .main-menu
      &__wrapper
        transform: translate3d(0,0,0)
        &::before
          transform: translate3d(-100%,0,0)
      &__content
        opacity: 1

+r($md)
  .main-menu
    &__wrapper
      // padding-top: 100px
    &__menu
      margin-top: 0
      padding: 0
      text-align: left
      li
        font-size: 16px
        margin-bottom: 0px
        padding-bottom: 0px
        margin-left: -10px
        &:last-child a::after
          display: none
        /* second lvl menu
        ul
          position: relative
          display: block
          max-width: 100%
          margin: 0 0 0 10px
          padding-bottom: 18px
          &::before, &::after
            display: block
            content: ' '
            position: absolute
            left: 0
            right: 0
            height: 1px
            transition: background .25s $ease
          &::before
            // cover extra line for parent lvl A link
            top: -1px
            background-color: $colorPrimary
          &::after
            bottom: 0
            background: rgba(white, .1)
          li
            display: block
            font-size: 14px
            border-bottom: none
            margin-bottom: 0
            padding-bottom: 0
          a
            &::after
              display: none
      a
        position: relative
        display: block
        width: 100%
        padding: 18px 10px
        &::after
          display: inline-block
          content: ' '
          position: absolute
          bottom: 0
          left: 10px
          right: 10px
          height: 1px
          background: rgba(white, .1)
          transition: background .25s $ease
        &:hover
          color: white
          &::after
            background-color: rgba(white, .5)
    &__socials
      margin-left: 0
      padding-bottom: 30px
