// keep space for preloading images via AR set
.scaler
  display: block
  position: relative
  z-index: 1
  font-size: 0
  overflow: hidden
  background-color: $colorBg
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  &[data-ar="16:9"]
    padding-bottom: 56.25%
  &[data-ar="1:1"]
    padding-bottom: 100%
  &[data-ar="4:3"]
    padding-bottom: 75%
  &[data-ar="21:9"]
    padding-bottom: 42.85%
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    &[js-lazy]
      will-change: opacity
      transform-style: preserve-3d
      backface-visibility: hidden
  &.no-bg-onload
    background-color: transparent
  &.is-bg-hidden
    &.no-bg-onload
      background-image: none !important
  &.is-loaded
    img, picture
      opacity: 1

img, picture
  &[js-lazy]
    opacity: 0
    transition: opacity .25s $ease, transform .4s $ease
  &.is-loaded
    opacity: 1


// reveal
.reveal
  position: relative
  overflow: hidden
  &::after
    display: inline-block
    content: ' '
    position: absolute 0
    background: white
    z-index: 2
    pointer-events: none
    transition: transform 1.1s easeOutExpo
    // cubic-bezier(0.9, 0, 0.1, 1)
  &--black
    &::after
      background: #000

  &.is-animated
    &[data-direction="ltr"]
      &::after
        transform: translate(100%,0)
    &[data-direction="rtl"]
      &::after
        transform: translate(-100%,0)

/* text reveal
.rtxt
  &__wrap
    display: block
    position: relative
    overflow: hidden
  // TODO - does lines actually needed?
  // wrap span + span every word in js ???
  &__mover
    display: inline-block
    transform: translate3d(0,100%,0)
    will-change: transform
    backface-visibility: hidden
    transform-style: preserve-3d
    transition: transform .7s $ease
    // + .rtxt__mover
      // margin-left: .25em


  &.is-animated
    .rtxt
      &__mover
        transform: translate3d(0,0%,0)
