.scroller-x
  // ps object
  position: relative
  width: 100%
  flex: 1 1 auto
  display: flex
  flex-direction: column
  padding-bottom: 100px
  background: #F2F2F2
  &__grid
    flex: 1 1 auto
    display: flex

    .card--large
      flex: 0 0 700px
      max-width: 700px
      margin-right: 50px
      &:last-child
        margin-right: 0

+r($xl)
  .scroller-x
    padding-bottom: 80px

+r($sm)
  .history
    .scroller-x
      padding-bottom: 0
      .swiper-scrollbar
        display: none
      
      &__grid
        .card--large
          flex: 0 0 100%
          max-width: 100%
          margin-right: 0

.year-stack
  width: 100%
  flex: 0 0 310px
  max-width: 310px
  min-width: 1px
  display: flex
  flex-direction: column
  padding: 50px 13px 30px 40px
  border-right: 1px solid rgba(black, .1)
  &:last-child
    border-right: 0
  &__name
    flex: 0 0 auto
    margin-bottom: 50px
  &__scrollable
    position: relative
    flex: 1 1 auto
    padding-right: 27px
