.swiper-container-horizontal
  & > .swiper-scrollbar
    bottom: 50px
    background: transparent
    border-radius: 0
    height: 36px
    &::after
      display: inline-block
      content: ' '
      position: absolute
      top: 50%
      left: 0
      right: 0
      background: rgba(black, .2)
      height: 1px
      border-radius: 4px
      transform: translateY(-50%)
      transition: height .25s $ease
    &:hover
      &::after
        height: 5px
  
  & > .swiper-buttons
    display: none
    margin-top: 20px
    background-color: $colorWhite
    & > div
      position: static
      margin: 0
      flex: 0 0 $col6
      max-width: $col6
      height: 60px
      outline: 0
      border: 1px solid #F2F2F2
    .swiper-button-prev
      background: $colorWhite svg-load('../icons/svg-mono/prev.svg') center no-repeat
    .swiper-button-next
      background: $colorWhite svg-load('../icons/svg-mono/next.svg') center no-repeat

.swiper-scrollbar-drag
  z-index: 2
  size: 36px !important
  background: rgba($colorRed, .2)
  border-radius: 50%
  cursor: pointer
  &::after
    display: inline-block
    content: ' '
    position: absolute
    top: 50%
    left: 50%
    background: $colorRed
    size: 16px
    border-radius: 50%
    transform: translate(-50%,-50%)
    transition: transform .25s $ease
  &:hover
    &::after
      transform: translate(-50%,-50%) scale(1.5)

+r($sm)
  .swiper-container-horizontal
    & > .swiper-buttons
      display: flex