.users
  &__title
    margin-bottom: 40px
  &__col
    margin-bottom: 60px
    margin-right: 60px
    width: 200px

+r($lg)
  .users
    &__grid
      margin-right: -30px
    &__col
      margin-right: 30px

+r($sm)
  .users
    text-align: center
    &__grid
      margin-right: 0
    &__col
      margin-right: 0
      width: $col12

.user-item
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  &__avatar
    margin-bottom: 18px
    width: 90px
    height: 90px
    overflow: hidden
    border-radius: 50%
  &__img
    width: 100%
    height: 100%
    object-fit: cover
  &__name
    font-size: 20px

+r($sm)
  .user-item
    &__name
      font-size: 18px