*
  box-sizing: border-box
  // outline: none

a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

[js-link]
  cursor: pointer

ul
  list-style: none
  li
    display: inline-block

body, html
  background: white
  color: $fontColor
  font-family: $baseFont
  font-weight: 500
  // font-family: "Helvetica", -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  font-size: 15px
  min-width: 320px
  max-width: 100%
  margin: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


body.is-transitioning
  pointer-events: none


+r($md)
  body, html
    font-size: 14px

::selection
  color: white
  background: $colorPrimary

.body-lock
  height: 100%
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  &__content
    // used for sticky footer (flexbox way)
    flex: 1 0 auto
    display: flex
    flex-direction: column
  
  &__main
    flex: 1 0 auto

.main
  position: relative
  overflow: hidden
  &__hero-title
    width: $col4
    height: 100vh
    &.hero-title
      position: fixed
      top: 0
      left: 0
  &__content
    flex: 1 0 auto
    padding: 80px 50px
    h2
      &:first-child
        margin-top: 0
    
    p:last-child
      margin-bottom: 0
    &--purple
      color: $colorWhite
      background-color: $colorPurple
  &__hr
    margin-top: 60px
    margin-bottom: 60px
    border-color: rgba($colorWhite, 0.3)
    border-bottom: 0
  &__users
    margin-bottom: 20px
  &__info
    padding: 37px 0
    border-top: 1px solid rgba($colorWhite, 0.3)
    border-bottom: 1px solid rgba($colorWhite, 0.3)

.info
  display: flex
  align-items: center

  svg
    flex-shrink: 0
    position: relative
    top: -2px
    margin-right: 20px
    height: 32px

.container
  max-width: 100%
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: 50px
  padding-right: 50px

+r($md)
  .container
    padding-left: 30px
    padding-right: 30px

// PAGE OVERLAY TRANSITION
.js-transition-overlay-blue, .js-transition-overlay-red
  position: fixed
  top: 0
  bottom: 0
  width: 100vw
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
.js-transition-overlay-blue
  left: -100%
  z-index: 999
  background: $colorPrimary
.js-transition-overlay-red
  left: -100%
  z-index: 998
  background: $colorRed

// REMOVE FOR PRODUCTION !
.dev-bp-debug
  background: black
  position: fixed
  top: 0
  right: 0
  z-index: 9999
  color: white
  padding: 5px
  font-size: 12px
  border-bottom-left-radius: 5px
