*
  box-sizing: border-box
  // outline: none

a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

[js-link]
  cursor: pointer

ul
  list-style: none
  li
    display: inline-block

body, html
  background: white
  color: $fontColor
  font-family: $baseFont
  font-weight: 500
  // font-family: "Helvetica", -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  font-size: 15px
  min-width: 320px
  max-width: 100%
  margin: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


body.is-transitioning
  pointer-events: none


+r($md)
  body, html
    font-size: 14px

::selection
  color: white
  background: $colorPrimary

.body-lock
  height: 100%
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  &__content
    // used for sticky footer (flexbox way)
    flex: 1 0 auto
    display: flex
    flex-direction: column
  
  &__main
    flex: 1 0 auto

+r($lg)
  .main
    flex-direction: column
    &__aside
      flex-basis: $col12
      max-width: $col12
      order: 2
    &__hero-title
      width: $col12
      &.hero-title
        position: relative
        height: 500px
    &__section
      flex-basis: $col12
      max-width: $col12
    &__content
      padding-top: 60px
      padding-bottom: 60px
      &--without-header
        padding-top: 160px
    &__hr
      margin-top: 40px
      margin-bottom: 40px
    &__users
      margin-bottom: 0

+r($md)
  .main
    &__content--without-header
      padding-top: 150px

+r($sm)
  .main
    &__content
      .h3-title
        font-size: 18px
    &__info
      margin-bottom: 50px
      padding-top: 27px
      padding-bottom: 27px
    &__group-content
      margin-bottom: 30px

.info
  display: flex
  font-size: 25px
  svg
    flex-shrink: 0
    position: relative
    margin-right: 20px

+r($sm)
  .info
    font-size: 18px
    svg
      margin-right: 15px

.group-content
  align-items: flex-start
  &__aside
    margin-top: -7px
    padding-right: 50px
  &__section
    p:last-child
      margin-bottom: 0

+r($md)
  .group-content
    &__aside
      margin-top: 0
      margin-bottom: 5px
      &.col--4
        flex-basis: $col12
        max-width: $col12
    &__section
      &.col--8
        flex-basis: $col12
        max-width: $col12

.img-block
  margin-bottom: 30px
  display: block
  width: 100%

+r($sm)
  .img-block
    margin-bottom: 25px

.icon-circle
  display: inline-flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  border: 1px solid rgba(#333, 0.2)
  border-radius: 50%
  &--months
    &::before
      content: ''
      display: block
      width: 14px
      height: 15px
      background: svg-load('../icons/svg-mono/calendar.svg', fill=rgba(#333, 0.5))

.link
  position: relative
  padding-left: 18px
  display: inline-block
  cursor: pointer
  &--prev
    &::before
      content: ''
      position: absolute
      top: 2px
      left: 0
      display: block
      width: 7px
      height: 11px
      background: svg-load('../icons/svg-mono/angle-left.svg') no-repeat

+r($lg)
  .link
    padding-left: 0
    padding-right: 18px
    &--prev
      &::before
        top: 4px
        left: auto
        right: 0
        transform: rotate(-90deg)

.history
  padding: 50px 0 50px 50px
  background-color: #F2F2F2
  .swiper-container-horizontal > .swiper-scrollbar
    bottom: 20px

+r($lg)
  .history
    padding-bottom: 10px

+r($md)
  .history
    padding-left: 0
    padding-right: 0
    padding-bottom: 0

.container
  max-width: 100%
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: 50px
  padding-right: 50px

+r($md)
  .container
    padding-left: 30px
    padding-right: 30px

// PAGE OVERLAY TRANSITION
.js-transition-overlay-blue, .js-transition-overlay-red
  position: fixed
  top: 0
  bottom: 0
  width: 100vw
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
.js-transition-overlay-blue
  left: -100%
  z-index: 999
  background: $colorPrimary
.js-transition-overlay-red
  left: -100%
  z-index: 998
  background: $colorRed

// REMOVE FOR PRODUCTION !
.dev-bp-debug
  background: black
  position: fixed
  top: 0
  right: 0
  z-index: 9999
  color: white
  padding: 5px
  font-size: 12px
  border-bottom-left-radius: 5px