.ico-mono-angle-left {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.ico-mono-calendar {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-kgc-logo {
  width: 3.75em;
  height: 1em;
  fill: none;
}
.ico-mono-logo-colored {
  width: 0.76em;
  height: 1em;
  fill: none;
}
.ico-mono-logo {
  width: 1.79em;
  height: 1em;
  fill: #333;
}
.ico-mono-map-pin {
  width: 0.63em;
  height: 1em;
  fill: #fff;
}
.ico-mono-next {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-mono-prev {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-mono-quote {
  width: 1.18em;
  height: 1em;
  fill: #F72E2A;
}
.ico-mono-social-facebook {
  width: 0.52em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-twitter {
  width: 1.28em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-vk {
  width: 1.8em;
  height: 1em;
  fill: #FFF;
}
