.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-kgc-logo {
  width: 3.75em;
  height: 1em;
  fill: none;
}
.ico-mono-logo-colored {
  width: 0.76em;
  height: 1em;
  fill: none;
}
.ico-mono-logo {
  width: 1.79em;
  height: 1em;
  fill: #333;
}
.ico-mono-map-pin {
  width: 0.63em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-facebook {
  width: 0.52em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-twitter {
  width: 1.28em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-vk {
  width: 1.8em;
  height: 1em;
  fill: #FFF;
}
